@media (prefers-reduced-motion: no-preference) {

    .site-header {
        animation: scroll-watcher linear;
        animation-timeline: scroll(y);
        animation-timeline: ceil;
    }

    @keyframes scroll-watcher {
        to {
            max-height: 0;
        }
    }
}