@media (prefers-reduced-motion: no-preference) {

    /*.site-header {
        animation: scroll-watcher linear;
        animation-timeline: scroll(y);
        animation-timeline: ceil;
    }

    @keyframes scroll-watcher {
        from {
            background-color: black;
        }
        to {
            background-color: white;
        }
    }*/
}

.copyable-block[data-copied] {
  animation: copiedFlash 1s forwards;
}

@keyframes copiedFlash {
  from   { background-color: var(--bg-accent); }
}