.highlight {
    color: var(--code);
}

.highlight .nc { font-weight: bolder; }
.highlight .kt { font-weight: bolder; }

@media (prefers-color-scheme: light) {
  .highlight .k, 
  .highlight .kn, 
  .highlight .kd, 
  .highlight .kt { color: #f24d00; } // Keywords
  .highlight .c { color: #93a1a1; font-style: italic; }
  .highlight .s { color: #2aa198; }
  .highlight .n { color: #657b83; }
  .highlight .m { color: #d33682; }
  .highlight .o { color: #6c71c4; }
  .highlight .p { color: #657b83; }
  .highlight .err { color: #dc322f; background: #fff0f0; }
  .highlight .t { color: #b58900; }
  .highlight .f, 
  .highlight .nc, 
  .highlight .v { color: #ff0084; }
}

@media (prefers-color-scheme: dark) {
  .highlight .k, 
  .highlight .kn, 
  .highlight .kd, 
  .highlight .kt { color: #ff6600; }
  .highlight .c { color: #586e75; font-style: italic; }
  .highlight .s { color: #2aa198; }
  .highlight .n { color: #839496; }
  .highlight .m { color: #d33682; }
  .highlight .o { color: #6c71c4; }
  .highlight .p { color: #839496; }
  .highlight .err { color: #dc322f; background: #330000; }
  .highlight .t { color: #b58900; }
  .highlight .f, 
  .highlight .nc, 
  .highlight .v { color: #de0772; }
}

.copyable-block {
    position: relative;
    cursor: text;
}

.copy-button {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 10;

    background-color: var(--bg-section);
    color: var(--border-code);
    border: none;

    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;

    font-size: 14px;
    font-weight: bold;
}

.copy-button:hover {
    background-color: var(--bg-accent);
}
