:root {

    @media (prefers-color-scheme: light) {
        --bg-base: #f6f6f6;
        --bg-section: #fdfdfd;
        --bg-accent: #e8e8e8;
        --hover-bg: #ff7050;

        --text: #151515;
        --title: #3c3c3c;
        --primary: #ff7b00;
        --secondary: #ff41a0;
        --highlight: #7affc8;
        --hover-link: #4400bb;

        --border-extra: var(--primary);
        --bg-extra: #ffe7e1;
        --border-info: #007bff;
        --bg-info: #d1efff;
        --border-code: #b0b0b0;
        --bg-code: var(--bg-base);

        --link: #686868;
        --visited: #777777;
        --code: #5a5a5a;
    }

    @media (prefers-color-scheme: dark) {
        //--bg-base: #2f2f2f;
        //--bg-section: #464646;
        --bg-section: #2a2a2a;
        --bg-base: #343434;
        --bg-accent: #383838;
        --hover-bg: #de5b2b;

        --border-extra: var(--primary);
        --bg-extra: #7c3400;
        --border-info: #007bff;
        --bg-info: #004266;
        --border-code: #bfbfbf;
        --bg-code: var(--bg-base);

        --text: #EEEEEE;
        --title: #ffffff;
        --primary: #ff7b00;
        --secondary: #ff41a0;
        --highlight: #fff;
        --hover-link: #ff7a78;

        --code: #dddddd;
        --link: #c4c4c4;
        --visited: #9f9f9f;
    }

    --root-gradient-1: var(--primary);
    --root-gradient-2: var(--secondary);
    --root-gradient: linear-gradient(to right ,var(--root-gradient-1), var(--root-gradient-2));

    color: var(--text);
    background-color: var(--bg-base);
}

:link {
    color: var(--link)
}

:visited {
    color: var(--visited)
}

.foot-block {
    --grad-1: var(--bg-base);
    --grad-2: var(--bg-base);
    --grad: linear-gradient(to top, var(--grad-1), var(--grad-2));
    background: var(--grad);
}
