:root {

    @media (prefers-color-scheme: light) {
        --bg-base: #f6f6f6;
        --bg-section: #fdfdfd;
        --bg-accent: #fdfdfd;
        --hover-bg: #ff7050;

        --contrast: #000000;
        --text: #151515;
        --title: #4400bb;
        --highlight: #7affc8;
        --hover-link: #4400bb;

        --link: #555555;
        --visited: #777777;
    }

    @media (prefers-color-scheme: dark) {
        --bg-base: #2f2f2f;
        --bg-section: #202020;
        --bg-accent: #202020;
        --hover-bg: #cb0040;

        --contrast: #ffffff;
        --text: #EEEEEE;
        --title: #ff41a0;
        --highlight: #fff;
        --hover-link: #ff7a78;

        --link: #c4c4c4;
        --visited: #9f9f9f;
    }

    --root-gradient-1: #FF7400;
    --root-gradient-2: #ff00b7;
    --root-gradient-3: #0008FF;

    --root-gradient: linear-gradient(to right ,var(--root-gradient-1), var(--root-gradient-2));

    color: var(--text);
    background-color: var(--bg-base);
}

:link {
    color: var(--link)
}

:visited {
    color: var(--visited)
}

.foot-block {
    --grad-1: var(--bg-base);
    --grad-2: var(--bg-base);
    --grad: linear-gradient(to top, var(--grad-1), var(--grad-2));
    background: var(--grad);
}

/*::selection {
    background: var(--title);
    color: var(--bg-section);
}*/