footer {
    display: flex;
    align-items: top;
    justify-items: left;
    flex-direction: row;
    //overflow-x: hidden;

    padding: var(--inner-pad);
    margin-top: var(--base-margin);

    border-radius: var(--border-radius);
    background: var(--bg-section);
}

.footer-frame {
    display: flex;
    flex-direction: row;
    border-radius: var(--border-radius);
    min-width: 100%;
    background-color: var(--bg-base);
    overflow-x: auto;
    justify-content: space-between;
}

.footer-block {
    display: block;

    padding: var(--inner-pad);
    margin-right: var(--inner-pad);

    border-radius: var(--border-radius);
    background-color: var(--bg-base);

    width: min-content;
}

.footer-button {
    padding: 15px 20px;
    margin-right: var(--inner-pad);
    margin-bottom: var(--inner-pad);

    border-radius: 50vh;
    border-width: 0;
    background: var(--bg-section);

    width: max-content;
}

.footer-text {
    margin: 20px 20px;
}
