footer {
    display: flex;
    align-items: top;
    justify-items: left;
    flex-direction: row;

    padding: var(--root-pad);
    padding-top: 0;
    margin-top: var(--base-margin);

    border-radius: var(--border-radius);
    background: var(--bg-section);
}

.footer-block {
    margin-top: var(--root-pad);
    margin-right: var(--inner-pad);
    border-radius: var(--border-radius);
}

.footer-button {
    padding: 15px 20px;
    margin-right: var(--base-margin);
    margin-top: var(--base-margin);

    border-radius: 50vh;
    background: var(--bg-base);
}

.footer-text {
    margin: 20px 20px;
}

.footer-padfree {
    margin: 0;
}