
:root {

    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 0;
    width: 100%;

    --inner-radius: 15px;
    --border-radius: 30px;
    --outer-radius: 45px;
    --border-width: 15px;

    --base-margin: 10px;
    --root-pad: 30px;
    --inner-pad: 15px;

    @media only screen and (max-width: 800px) {
        body {
            flex-direction: row;
        }
    } 
}

body {
    display: flex;
    flex-direction: column;

    min-width: 0;
    width: 100%;
    max-width: 900px;

    align-items: stretch;
    justify-content: center;
    justify-items: stretch;  
}

.wrapper {
    max-width: 900px;
    width: 100%;

    padding: 0px;
    margin: var(--base-margin);

    align-items: stretch;
    display: flex;
    flex-direction: column;

    text-align: left;
}

// Title
.site-header {
    padding: var(--root-pad);

    border-radius: var(--outer-radius);
    background-image: var(--root-gradient);
}

.site-title-frame {
    padding: var(--inner-pad);

    border-radius: var(--inner-radius);
    background: var(--bg-section);
}

.site-title {
    margin: 20px;
    margin-top: var(--inner-pad);
    color: var(--title);
}

.page-bar {
    padding: 5px;
}

.page-bar-link {
    border-radius: var(--inner-pad);
    padding: var(--inner-pad);
    margin-right: var(--inner-pad);
    margin-left: 0px;

    background-color: var(--bg-base);
    text-decoration: none;
}

// Sidebar
.sidebar {
    height: 100%;

    margin: var(--base-margin);
    margin-right: 0;
    padding: var(--root-pad);

    border-radius: var(--border-radius);
    background: var(--bg-section)
}

// Section
section {
    padding: var(--root-pad);
    margin-top: var(--base-margin);

    border-radius: var(--border-radius);
    background: var(--bg-section);
}

// Footer
footer {
    display: flex;
    align-items: top;
    justify-items: left;
    flex-direction: row;

    padding: var(--base-margin);
    margin-top: var(--base-margin);

    border-radius: var(--border-radius);
    background: var(--bg-accent);
}

.footer-block {
    padding: var(--root-pad);
    margin-right: var(--base-margin);

    border-radius: var(--border-radius);
    background: var(--bg-base);
}

.footer-text {
    margin: 0;
}