@media (prefers-reduced-motion: no-preference) {
    
    :root {
        --transition-time: 0.6s
    }

    .footer-block {
        transition: background var(--transition-time);
    }

    .footer-block:hover {
        background: var(--bg-section);
    }

    .page-bar-link {
        transition-duration: var(--transition-time);
        transition-property: background, color;
    }

    .page-bar-link:hover {
        background: var(--hover-bg);
        color: var(--text);
    }

    a {
        transition-duration: var(--transition-time);
    }

    a:hover {
        color: var(--hover-link);
    }

    blockquote {
        transition-duration: var(--transition-time);
    }

    blockquote:hover {
        border-left-width: 10px;
    }
}