@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Syne:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Metamorphous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Glass+Antiqua&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amarante&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root { display: flex; align-items: center; justify-content: center; min-width: 0; width: 100%; height: 100%; --inner-radius: 20px; --border-radius: 30px; --outer-radius: 45px; --border-width: 30px; --base-margin: 10px; --root-pad: 30px; --inner-pad: 15px; }

body { min-width: 0; width: 100%; height: 100%; margin: 0; display: flex; flex-direction: column; align-items: stretch; }

.wrapper { max-width: 900px; padding: 0px; width: calc(100% - (var(--base-margin) * 2)); margin: var(--base-margin) auto; align-items: stretch; display: flex; flex-direction: column; text-align: left; }

.sidebar { height: 100%; margin: var(--base-margin); margin-right: 0; padding: var(--root-pad); border-radius: var(--border-radius); background: var(--bg-section); }

section { padding: var(--root-pad); margin-top: var(--base-margin); overflow-y: hidden; border-radius: var(--border-radius); background: var(--bg-section); }

.clickable, button { cursor: pointer; }

:root {     /*@media (prefers-color-scheme: light) { --bg-section: #eee8d5; --bg-base: #fdf6e3; --bg-accent: #d8cfb3;
 --bg-button: var(--bg-accent); --hover-bg: #cdbfa0;
 --text: #2a2015; --title: #1f6fa3; --primary: #f7f0dc; --secondary: #f2ecd6; --highlight: #2aa198; --hover-link: var(--title);
 --border-extra: #cb4b16; --bg-extra: #fbeee0; --border-info: #268bd2; --bg-info: #dcedf7; --border-code: #586e75; --bg-code: #f5efd9;
 --subtle_text: #a89f87; --link: #2b2b2b; --visited: #414073; --code: #344a4a; }*/ --root-gradient-1: var(--primary); --root-gradient-2: var(--secondary); --root-gradient: linear-gradient(to right ,var(--root-gradient-1), var(--root-gradient-2)); color: var(--text); background-color: var(--bg-base); }
@media (prefers-color-scheme: light) { :root { --bg-section: #f5efeb; --bg-base: #fbf4f1; --bg-accent: #e8e2de; --bg-button: var(--bg-base); --hover-bg: #ffa488; --text: #07423e; --title: #208f88; --primary: #f0f0f0; --secondary: #eeeeee; --highlight: #7affc8; --hover-link: var(--title); --border-extra: #ff7b00; --bg-extra: #ffe7e1; --border-info: #007bff; --bg-info: #d1efff; --border-code: #e0e0e0; --bg-code: #ffffff; --subtle_text: #aaaaaa; --link: #666666; --visited: #777777; --code: #5a5a5a; } }
@media (prefers-color-scheme: dark) { :root { --bg-section: #07423e; --bg-base: #003632; --bg-accent: #00544e; --bg-button: var(--bg-accent); --hover-bg: #587475; --text: #f3efe2; --title: #ffc894; --primary: #073642; --secondary: #0b3a46; --highlight: #2aa198; --hover-link: var(--title); --border-extra: #cb4b16; --bg-extra: #3a2217; --border-info: #268bd2; --bg-info: #0b4b66; --border-code: #586e75; --bg-code: #00232b; --subtle_text: #668e8b; --link: #e1e1e1; --visited: #e2e3ff; --code: #cbe2e2; } }

:link { color: var(--link); }

:visited { color: var(--visited); }

.foot-block { --grad-1: var(--bg-base); --grad-2: var(--bg-base); --grad: linear-gradient(to top, var(--grad-1), var(--grad-2)); background: var(--grad); }

button { background-color: var(--bg-button); color: var(--link); border-radius: 50vh; border-width: 0; padding: 10px 20px; }

.button-stack { display: flex; flex-direction: column; width: max-content; }

.button-stack li:not(:last-child) { margin-bottom: var(--inner-pad); }

.button-stack li { justify-content: right; }

.button-stack button { width: 100%; }

.link-list, .button-stack { list-style: none; padding: 0; margin: 0; }

.video-embed { aspect-ratio: 16 / 9; border-radius: 20px; border-style: solid; border-width: 5px; color: var(--bg-accent); margin-top: 20px; width: 100%; max-width: 500px; margin-right: 2%; }

.path-bar { display: flex; flex-direction: row; align-items: center; justify-content: left; border-radius: 50vh; margin-bottom: 20px; font-size: 16px; font-family: var(--font-family); font-weight: 600; }

.path-bar__item, .path-bar__item:visited, .path-bar__item:active, .path-bar__separator { text-decoration: none; color: var(--subtle_text); }

.path-bar__item:hover { color: var(--hover-link); }

:root { --font-family: Jost, sans-serif; --title-family: "Quantico", system-ui; --fantasy-family: "Metamorphous", "Times New Roman", Georgia, serif; --font-size: 18px; --title-font-size: 36px; --title-letter-spacing: 0.0vw; font-family: var(--font-family); font-size: var(--font-size); }

.fantasy { --title-family: var(--fantasy-family); --title-letter-spacing: 0; }

button { font-family: var(--font-family); font-size: var(--font-size); }

.mono { font-family: "JetBrains Mono", "Cascadia Code", "Lucida Sans", "Courier New", monospace; }

.site-title { letter-spacing: var(--title-letter-spacing); font-family: var(--title-family); font-size: 38px; font-weight: 700; line-height: 1.15; }

.post-title { color: var(--title); letter-spacing: var(--title-letter-spacing); font-size: var(--h1-size); font-family: var(--title-family); margin: 0px; }

:is(h1, h2, h3, h4, h5, h6) { color: var(--title); letter-spacing: var(--title-letter-spacing); font-family: var(--title-family); }

h1 { font-size: var(--h1-size); }

:root { --h1-size: 30px; --separator-margin: 36px; }

blockquote, [class^="language-"] { margin: 5px; margin-left: 0; margin-right: 0; padding: 1px; padding-left: 20px; padding-right: 20px; border-width: 0px; border-left-width: 5px; border-color: var(--border-info); border-style: solid; border-radius: 10px; background: var(--bg-info); }

.info { border-color: var(--border-info); background: var(--bg-info); }

.extra { border-color: var(--border-extra); background: var(--bg-extra); }

.subtle { border-color: var(--bg-accent); background: var(--bg-base); font-weight: 400; padding-bottom: 20px; }

[class^="language-"] { border-color: var(--border-code); background: var(--bg-code); }

.highlight { overflow-x: auto; }

hr { background-color: var(--bg-accent); width: 70%; height: 3px; border-width: 0; border-style: solid; margin-top: var(--separator-margin); margin-bottom: var(--separator-margin); }

.site-header { border-radius: var(--outer-radius); background-image: var(--root-gradient); }

.site-title-frame { padding: var(--inner-pad); overflow: hidden; border-radius: var(--inner-radius); background: var(--bg-section); }

.site-title { margin: var(--inner-pad); color: var(--title); }

.page-bar ul li { float: left; }

.page-bar li:not(:last-child) { margin-right: var(--inner-pad); }

@media (prefers-reduced-motion: no-preference) {     /*.site-header { animation: scroll-watcher linear; animation-timeline: scroll(y); animation-timeline: ceil; }
 @keyframes scroll-watcher { from { background-color: black; } to { background-color: white; } }*/ }
.copyable-block[data-copied] { animation: copiedFlash 1s forwards; }

@keyframes copiedFlash { 1% { background-color: var(--bg-base); } }
@media (prefers-reduced-motion: no-preference) { :root { --transition-time: 0.6s; transition-property: background-color, color; transition-duration: var(--transition-time); }
  .page-bar-link { transition-duration: var(--transition-time); transition-property: background-color, color; }
  .hover-color { transition-duration: var(--transition-time); }
  .hover-color:hover { background: var(--hover-bg); color: var(--text); }
  .hover-gray, button { transition-duration: var(--transition-time); }
  .hover-gray:hover, button:hover { background: var(--bg-accent); color: var(--text); }
  a { transition-duration: var(--transition-time); color: var(--link); }
  a:hover { color: var(--hover-link); }
  .copyable-block { transition-duration: var(--transition-time); }
  .copy-button { transition-duration: var(--transition-time); } }
.highlight { color: var(--code); }

.highlight .nc { font-weight: bolder; }

.highlight .kt { font-weight: bolder; }

@media (prefers-color-scheme: light) { .highlight .k, .highlight .kn, .highlight .kd, .highlight .kt { color: #f24d00; }
  .highlight .c { color: #93a1a1; font-style: italic; }
  .highlight .s { color: #2aa198; }
  .highlight .n { color: #657b83; }
  .highlight .m { color: #d33682; }
  .highlight .o { color: #6c71c4; }
  .highlight .p { color: #657b83; }
  .highlight .err { color: #dc322f; background: #fff0f0; }
  .highlight .t { color: #b58900; }
  .highlight .f, .highlight .nc, .highlight .v { color: #ff0084; } }
@media (prefers-color-scheme: dark) { .highlight .k, .highlight .kn, .highlight .kd, .highlight .kt { color: #ff6600; }
  .highlight .c { color: #586e75; font-style: italic; }
  .highlight .s { color: #2aa198; }
  .highlight .n { color: #839496; }
  .highlight .m { color: #d33643; }
  .highlight .o { color: #6c71c4; }
  .highlight .p { color: #839496; }
  .highlight .err { color: #dc322f; background: #330000; }
  .highlight .t { color: #b58900; }
  .highlight .f, .highlight .nc, .highlight .v { color: #d33643; } }
.copyable-block { position: relative; cursor: text; }

.copy-button { position: absolute; top: 15px; right: 15px; z-index: 10; background-color: var(--bg-section); color: var(--border-code); border: none; padding: 5px 10px; cursor: pointer; border-radius: 50vh; font-size: 14px; font-weight: bold; }

.copy-button:hover { background-color: var(--bg-accent); }

footer { margin: auto; width: calc(100% - (var(--base-margin) * 2)); padding-bottom: var(--inner-pad); padding-top: var(--inner-pad); }

.footer-frame { display: flex; flex-direction: row; border-radius: var(--inner-radius); min-width: 100%; background-color: var(--bg-base); overflow-x: auto; justify-content: space-between; }

.footer-block { display: block; padding: var(--inner-pad); border-radius: var(--border-radius); background-color: var(--bg-base); }

.footer-block button:not(:hover) { background-color: var(--bg-section); color: var(--link); }

.footer-text { margin: 20px 20px; }
