<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page.category_title | default:site.title | default: site.github.repository_name }}</title>

    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">

    <script src="{{ '/assets/js/copyable.js' | relative_url }}"></script>
  </head>

  <body>

    <div class="wrapper">

      <div class="site-header">
        <div  class="site-title-frame">

          <h1 class="site-title">{{ page.category_title | default:site.title | default: site.github.repository_name }}</h1>
          
          {% if page.pagebar %}
            {% include page-bar.html nav=page.nav %}
          {% endif %}

        </div>
      </div>

      <section>

        {{ content }}

      </section>

      <footer>

        <div class="footer-block">
          <p class="footer-text">Contact</p>
        </div>

        <div class="footer-block">
          <p class="footer-text">Other</p>
        </div>

      </footer>

    </div>
  </body>
</html>